@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --titleFont:'Roboto', sans-serif;
    --cronFont:'Orbitron', sans-serif;
    --cor01:#1165D4;
    --cor02:#0B4187;
    --cor03:black;
    --cor04: white;
    --cor05:rgb(232, 232, 232);

}


nav{
    background-color: var(--cor01);
    width: 99vw;
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h1 {
    font-family: var(--titleFont);
    color: var(--cor04);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
    background-color: var(--cor04);
    height: 100vh;
}

.timer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
    width: 470px;
    margin-top: 30px;
    background-color: var(--cor05);
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.047);
}

.timer{
    display: flex;
    flex-direction: row;
    font-family: var(--cronFont);
    font-size: 60px;
    font-weight: bold;
    color: var(--cor03);
    padding-top: 30px;
}

.time{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    min-width: 90px;
}

.separator{
    padding: 0 10px; 
}

#milliseconds{
    font-size: 30px;
}

.buttons{
    display: flex;
    gap: 1rem;
}

.btn{
    padding: 10px 20px;
    font-size: 18px;
    font-weight:bold;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: all .2s ease-in-out;
}

.btn:hover{
    transform: scale(1.05);
}

#startBtn{
    background-color: var(--cor01);
    color: var(--cor04);
}

#pauseBtn, 
#resumeBtn{
    display: none;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    background-image: linear-gradient(0deg, rgba(11,65,135,1) 30%, rgb(15, 86, 179) 100%);;
    color: var(--cor05);
}

.social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10vw;
}
.icons{
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 50%;
    
}

